@page
@model ThePizzaPlace.Pages.CheckoutModel
@{
	ViewData["Title"] = "The Pizza Place Checkout";
}

@using ThePizzaPlace.Data
@using Microsoft.Extensions.Options

<h1>The Pizza Place Checkout</h1>

@if (true)
{
	<p>You do not have any items in your basket. Please visit the menu and make a selection.</p>
}
else
{
	<form method="post">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Subtotal</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Items)
				{
					var subtotal = item.Price * item.Quantity;

					<tr>
						<td>@item.Item_Name</td>
						<td>@item.Price.ToString("C")</td>
						<td>@item.Quantity</td>
						<td>@subtotal.ToString("C")</td>
					</tr>
				}
			</tbody>
		</table>

		<h2>Order Total: @Model.Total.ToString("C")</h2>

		<button type="submit" asp-page-asp-page-handler="Buy">Buy</button>
	</form>
}